[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Categories=Network;Feed;Internet;News;Qt;
Name=Avalon
GenericName=RSDN offline client
Exec=avalon
Icon=avalon
Terminal=false
